.workexperience-section {
  margin-top: 60px;
}
.tech-skills p {
  background-color: #483e42;
  border-radius: 90px;
  color: white;
  text-align: center;
  padding: 8px;
  text-align: center;
  font-weight: normal;
}
.tech-skills p:hover {
  background-color: rgb(69, 31, 105);
  cursor: pointer;
}

.timeline {
  display: flex;
  width: 100%;
  padding: 20px;
}

.timeline_experience,
.timeline_education {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-class {
  font-size: larger;
  color: white;
  text-decoration: underline;
}
.date-class-dark {
  color: black;
  text-decoration: underline;
}
.row {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .timeline {
    flex-direction: column;
    width: 100%;
  }
  .row {
    display: list-item;
  }
  .timeline_experience,
  .timeline_education {
    width: 100%;
    gap: 2.5rem;
  }
}
